html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(238, 238, 238);
}

.cabecalho {
    display: flex;
    background-color: rgb(39, 157, 160);
    padding: 20px;
}

.cabecalho .seta {
    width: 30px;
}

.cabecalho h2 {
    padding-left: 35px;
    font-weight: bold;
}

.container-img_perfil {
    border-radius: 5px;
    margin: 10px;
    padding: 15px 0;
}

.container_perfil-editar {
    display: flex;
    justify-content: center;
}

.imagem-perfil_editar {
    position: relative;
}

.container_perfil-editar .img-perfil {
    width: 150px;
    border-radius: 50%;
}

.container_perfil-editar .img-botao_editar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info-perfil {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(39, 157, 160);
    border-radius: 5px;
    padding: 15px 0;
}

.info-perfil h2 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
}

.container-cidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icon-mapa {
    width: 20px;
    padding: 0 5px;
}

.container-info_curso {
    display: flex;
    margin: 10px;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.container-info_curso h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.container-alteracao_senha {
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: column;
    background-color: rgb(39, 157, 160);
    box-shadow: -5px 4px 15px rgba(25, 127, 131, 0.445);
    margin: 10px;
    border-radius: 5px;
}

.alteracao_senha h2 {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.form_campos {
    display: flex;
    text-align: start;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.897);
    padding: 10px;
}

.form_campos input {
    border: none;
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    outline: 0;
    border: 2px solid rgba(63, 61, 61, 0.5);
    background: rgba(255, 255, 255, 0.685);
}

.form_campos input:focus {
    background: rgba(255, 255, 255, 0.897);
    border: 2px solid rgba(255, 255, 255, 0);
}


.botao-login {
    width: 50%;
    margin-bottom: 15px;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.897);
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.911);
    transition: all 0.5s ease-in-out;
    outline: 0;

}

.botao-login:hover {
    box-shadow: 0px 4px 35px -5px rgba(255, 255, 255, 0.644);
    cursor: pointer;
}

.botao-login:active {
    outline: none;
    font-size: 1.75rem;
}