.container_horario {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.painel.horarios nav {
    display: flex;
    padding: 10px 0;
    max-height: 20vh;
    overflow: auto
}

.painel.horarios ul {
    width: 100%;
}

.painel.horarios li {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.cabecalho_containers .dia-semana {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.relogio-borda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.relogio-borda img {
    padding: 0 10px;
    width: 45px;
}

.relogio-borda h3 {
    padding: 20px;
}


.container_materia-professor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.897);
    padding: 10px;
}

.container_materia-professor .materia {
    font-size: 3.5rem;
}

.container_materia-professor .coluna {
    padding: 20px 0 20px 25px;
    height: 100%;
}

.texto-materia-professor {
    padding: 20px 0 20px 20px;

}

.nome-professor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.nome-professor h3 {
    font-size: 2.2rem;
}

.nome-professor img {
    width: 25px;
    padding: 10px;
}

.relogio-borda .selecionado {
    color: rgba(255, 255, 255, 0.897);
}