html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.corpo {
    display: flex;
    flex-direction: column;
}

.container-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background: rgb(39, 157, 160);
}

.perfil-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome-aluno {
    font-weight: bold;
    text-transform: uppercase;
    color: black
}

.menu-icon {
    padding: 0 25px;
    width: 80px;
}

.img-perfil {
    padding: 0 15px;
    width: 120px;
    margin: 15px 0;
}

.img-perfil:hover {
    cursor: pointer;
}

.nome-aluno {
    text-align: center;
    font-size: 2rem;
}

main {
    margin-bottom: 100px;
}

.painel {
    display: flex;
    border-radius: 10px;
    width: calc(100vw - 40px);
    justify-content: start;
    flex-direction: column;
    margin: 20px auto;
    background-color: rgba(0, 159, 162, 255);
    box-shadow: -5px 4px 15px rgba(25, 127, 131, 0.445);
    min-height: 15vh;
    max-height: 40vh;

}

.titulos_containers {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.897);
}

.container-img_info {
    margin: auto;
    padding: 15px;

    overflow-y: scroll;
}

.container-img_info img {
    width: 100%;
}

.cabecalho_containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
    background-color: rgba(16, 159, 163);
    border-bottom: 2px solid rgba(58, 58, 58, 0.5);
}